<nav class="bg-dark navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="/home">Home</a>
                <a class="nav-link" href="/explore">Explore</a>
                <a class="nav-link" href="/addPaddle">Add Paddle</a>
                <a class="nav-link" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>