<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
</head>
<body>
    <h1> Pickleball and Paddle Board Paddles! </h1>
    <%- include("partials/navbar.ejs") %>

    <p>This is where we can add a descripition and why we decieed to make this maybe include images and stuff too</p>

    <%- include("partials/footer.ejs") %>

</body>
</html>