body {
    background-image: url('/images/pickleballBackground.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

nav {
  background: #222;
  color: #fff;
  padding: 10px 20px;
}

nav a {
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-top: auto; /* ensures footer is at the end */
}
h1{
    text-align: center;
    margin-top: 20px;
}
.container{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}